/* General styles */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.section {
    margin: 30px 0;
    padding: 0 50px;
}

.content {
    text-align: center;
}

.transparent {
    background-color: rgba(22, 141, 185, 0.87);
}

#main-nav {
    transition: all 0.4s;
}


/* Menu styles */

.menu {
    text-align: center;
    background: #222;
}

.menu__list {
    margin: 0;
}

.menu__item {
    display: inline-block;
    padding: 25px;
    list-style: none;
}

.menu__item a {
    text-decoration: none;
    color: #fff;
}

.menu__item a:hover {
    color: #999;
}


/* Header styles */

.header--main {
    position: relative;
}

.header--main span {
    color: lightgreen;
}

.header--main img {
    width: 100%;
    height: 100vh;
}

.header__title--main {
    position: absolute;
    top: 50%;
    font-size: 50px;
    font-weight: 700;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #fff;
}


/*O mnie */

.section h2 {
    margin-top: 40px;
}

figure img {
    height: 300px;
    width: 300px;
    border: 7px solid lightgray;
    object-fit: cover;
    object-position: center;
}


/* Portfolio*/

#portfolio h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

/*flip-box*/

.flip-box{
    height: 300px;
    width: 300px;
/*    border: 10px solid red;*/
    position: relative;
    margin-bottom: 50px;
    
    
    
    
}
.flip-box img{
    width: 300px;
    height: 300px;
}
.flip-box:hover .front{
    transform: rotateY(180deg);
   
}
.flip-box:hover .back{
    transform: rotate(0deg);
}
.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    color:#FFF;
    transition: all .5s;
}
.front{
    background-color: lightgray;
    z-index: 10;

    backface-visibility:hidden;
    
}
.back{
    background-color: forestgreen;
    transform: rotateY(180deg);
    
}



/* Footer styles */

.contact {
    padding: 30px 50px;
    background: #222;
}

.contact__header {
    color: #fff;
}

.contact__content {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
}

.contact__content a {
    color: #fff;
}

.contact__content a:hover {
    color: #999;
}