/*najwiesza rozdzielczosc*/

@media all and (max-width:1600px) {
    #main-header {}
}
/*pierwsza zmiana rozzielczosci*/

@media all and (max-width:1170px) {
    #main-header {
        background-position: top;
        background-size: 100% 70%;
        background-image: url(../obrazy/man-2.jpg);
        
    }
    .main-header-content {
        text-align: right;
        position: absolute;
        top: 10%;
        right:0;
        padding: 0 5vw;
        
    }
}
/*druga zmiana rozdzielczosci*/

@media all and (max-width: 992px) {
    #main-header {
        background-size: 100% 50%;
        background-image: url(../obrazy/man-1.jpg);
        text-align: center;
    }
    .main-header-content {
        text-align: center;
        top:70vh;
        color: black;
        font-size: 80%;
        margin: auto auto;
        
    }
    
}