body {
    margin: 0;
}

.main-header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pobrane.jpg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-nav {
    height: 50px;
    transition: .4s;
}

.tekst {
    font-size: 2rem;
    align-content: center;
    color: #FFF;
    width: 60vw;
}

.tekst1 {
    font-size: 1.5rem;
    align-content: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

#main-nav a:link {
    color: #FFF;
}

#main-nav a:visited {
    color: #FFF;
}

#myBtn {
    background-color: dodgerblue;
    color: #FFF;
}

#myBtn:hover {
    background-color: #0ed8d6;
}

.transparent_blue {
    background-color: rgba(72, 140, 209, 0.74);
}

.main-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.tekst2 {
    font-size: 1rem;
    color: gray;
    font-family: 'Montserrat', Italic;
}

.ikona {
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: dodgerblue;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    display: inline-block;
    transition: .5s;
}

.size {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .row a:link {
    font-size: 3em;
    color: white;
}

.container .row a:visited {
    color: white;
}

.ikona:hover {
    background-color: #0ed8d6;
    color: #252525;
    transform:rotate(360deg);
}

.container {
    display: flex;
}
.next{
    overflow: hidden;
}
.next1 {
    background-image: url(../img/portfolio/006.jpg);
    
}

.next2 {
    background-image: url(../img/portfolio/008.jpg);

}

.next3 {
    background-image: url(../img/portfolio/013.jpg);

}

.next4 {
    background-image: url(../img/portfolio/016.jpg);
}

.next5 {
    background-image: url(../img/portfolio/019.jpg);
}

.next6 {
    background-image: url(../img/portfolio/020.jpg);
    
}
.text-img{
    display: flex;
    align-content: center;
}
.hover{
    transition: .5s;
    transform: scale(1);
    width: 400px;
    height: 400px;
    background-size: cover;
}
.hover:hover{
    transform: scale(1.5);
}