@media all and (max-width:992px){
   
    #container{
        width:100%;
        top:15%;
        
      
        
       
        
    }
    .product{
        width:45%;
        height: 50%;
        box-sizing: border-box;
        margin-bottom: 2vh;
    }
}

@media all and (max-width:480px){
    
    #container{
        width:100%;
        top:4%;
        
      
        
       
        
    }
    .product{
        width:80%;
        height: 20vh;
        box-sizing: border-box;
        margin-bottom: 2vh;
    }
}